 {# the link_list macro is used to render a generic list of links (backlinks, sitemap, tags etc.) #}
{% macro link_list(title, list_items) %}
  {% if list_items | length > 0 %}
    <section>
      <details open>
        <summary>{{title}}</summary>
        <ul>
          {% for item in list_items %}
            <li>
              <a href={{item.path}}>{{item.file | capitalize }}
                {% if item.kind.Tag %} ({{item.kind.Tag}}) {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </details>
    </section>
  {% endif %}
{% endmacro input %}

