@use "reseter.css/reseter";
@use "open-color/open-color" as *;

* {
    background: $oc-violet-0;
    color: $oc-gray-6;
}

body{
    text-align: center;
}

section {
    padding-bottom: 32px;
}

ul, ol {
    padding-left: 16px;
}

img { max-width: 600px; }
